@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

:root {
  --font: 'Open Sans', sans-serif;
  --fontSize: 17px;
  --fontSizeMin: 13px;
  --background: #101010;
  --neutral: #fefefe;
  --neutral2: #fefefe54;
  --primary: #8119ff;
  --primary2: #8019ff25;
  --secondary: #00fe46;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
}
*::selection {
  background-color: var(--primary);
}
