@import url('../public/themes/themes.css');

.container {
  background-color: var(--background);
  height: 100vh;
  width: 100%;
  padding: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.title {
  color: var(--neutral);
  font-family: var(--fontTitle);
  font-size: var(--fontSizeMax);
}
.card {
  height: 100%;
  width: 50%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1%;
  box-shadow: 1px 1px 10px 1px var(--neutral3);
  border-radius: 5px;
}
.boxTools {
  width: 100%;
  padding: 1% 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}
.countTasks {
  color: var(--neutral2);
  font-size: var(--fontSizeMin);
}
.iconTheme {
  color: var(--neutral);
  font-size: var(--fontSizeMed);
  cursor: pointer;
  transition: 0.3s;
}
.iconTheme:hover {
  transform: scale(1.25);
}
.iconTheme:active {
  transform: scale(0.5);
}
.error {
  animation: vibration 0.2s forwards;
  animation-iteration-count: 3;
  color: var(--primary);
  align-self: center;
  font-size: var(--fontSizeMin);
}
.boxTasks {
  height: 85%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.boxTasks::-webkit-scrollbar {
  width: 5px;
}
.boxTasks::-webkit-scrollbar-thumb {
  background-color: var(--neutral2);
  border-radius: 5px;
}
.boxTasks::-webkit-scrollbar-track {
  background-color: var(--background);
}
.noTasks {
  border: none;
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-style: italic;
}
.boxInput {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inputTask {
  width: 80%;
  height: 85%;
  font-size: var(--fontSize);
  background-color: var(--background);
  border: none;
  border-bottom: 2px solid var(--neutral2);
  padding: 0 3%;
  font-style: italic;
  outline: none;
  color: var(--neutral);
  transition: 0.3s;
}
.inputTask:hover {
  border-color: var(--primary);
}
.btnSaveTask {
  background-color: var(--background);
  color: var(--neutral);
  border: 2px solid var(--neutral2);
  width: 15%;
  height: 85%;
  font-size: var(--fontSize);
  cursor: pointer;
  transition: 0.3s;
  padding: 0 3%;
}
.btnSaveTask:hover {
  background-color: var(--primary2);
  border-color: var(--primary);
}
.btnSaveTask:disabled {
  background-color: var(--background);
  color: var(--neutral2);
  border: none;
  cursor: not-allowed;
}
@keyframes vibration {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 5px;
  }
  50% {
    margin-left: 0;
  }
  75% {
    margin-left: -5px;
  }
  100% {
    margin-left: 0;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    height: 100vh;
    gap: 2%;
  }
  .card {
    width: 95%;
    padding-top: 5%;
    height: 90vh;
    justify-content: start;
    gap: 0;
    box-shadow: none;
  }
  .title {
    margin: 2.5% 0 0 0;
    width: 100%;
    padding: 5%;
  }
  .boxTasks {
    min-height: 70px;
  }
}
